@model IEnumerable<News>

@{
    Layout = "_Layout";
}

<h2 class="p-1">Всі новини</h2>
@(await Html.PartialAsync("StatusMessage", TempData["message"]))
<div class="d-flex justify-content-center">
    <div class="col-8 mt-3">
        <form asp-action="Index" asp-controller="NewsAdmin" method="get">
            <div class="row">
                <div class="col-11 p-0">
                    <input type="text" class="form-control border-primary w-100 my-0" placeholder="Пошук новини" name="search">
                </div>
                <div class="col-1 p-0">
                    <button type="submit" class="btn btn-primary my-0"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="p-1" style="margin-bottom:5px;">
    <a asp-action="Create" style="text-decoration: none;" class="btn btn-sm btn-link">Добавити новину</a>
</div>

<table class="table table-sm">
    <tr>
        <th>Назва</th>
        <th class="text-right">Дата</th>
        <th class="text-right">Автор</th>
        <th class="text-center">Дії</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td class="text-right">@item.Date.ToString("MM/dd/yyyy")</td>
            <td class="text-right">@item.Author</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a style="text-decoration: none;" asp-action="Edit" class="btn btn-sm btn-link"
                       asp-route-newsId="@item.NewsID">
                        Редагувати
                    </a>
                    |
                    <input type="hidden" name="NewsID" value="@item.NewsID" />
                    <button style="text-decoration: none;" type="submit" class="btn btn-sm btn-link">
                        Видалити
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
