@model IEnumerable<Order>

@{
    ViewBag.Title = "Замовлення";
    Layout = "_Layout";
}
@if (Model.Count() > 0)
{
    <h4>Замовлення</h4>
    <hr />
    <table class="table table-bordered table-striped">
        <tr><th>ПІБ</th><th>Zip</th><th colspan="2">Деталі</th><th></th></tr>
        @foreach (Order o in Model)
        {
            <tr>
                <td>@o.Name</td>
                <td>@o.Zip</td>
                <th>Товари</th>
                <th>КІлькість</th>
                <td>
                    <form asp-action="MarkShipped" method="post">
                        <input type="hidden" name="orderId" value="@o.OrderID" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Видалити
                        </button>
                    </form>
                </td>
            </tr>
            @foreach (CartLine line in o.Lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@line.Book.Name</td>
                    <td>@line.Quantity</td>
                    <td></td>
                </tr>
            }
        }
    </table>
}

else
{
    <div class="text-center">
        <h4>Немає відправлених замовлень</h4>
    </div>
}