@model ChangeRoleViewModel
@{
    ViewData["Title"] = "Зміна ролі користувача";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="p-1">Зміна ролі для користувача: @Model.UserEmail</h2>

<form asp-action="EditUserRoles" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="input-group mb-3">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <div class="d-flex mb-3 col-lg-4">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="roles" value="@role.Name"
                               @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "")>
                        <span class="checkmark"></span>
                    </div>
                </div>
                <label class="form-control-lg form-control m-0">@role.Name</label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-success">Зберегти</button>
</form>
