@model IEnumerable<IdentityUser>
@addTagHelper "*, PAIS"
@{
    ViewData["Title"] = "Список Користувачів";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject IBlockedUserRepository blockedUserRepository


<h2 class="p-1">Список користувачів</h2>
@(await Html.PartialAsync("StatusMessage", TempData["message"]))
<hr />
<div class="d-flex justify-content-center">
    <div class="col-8 mt-3">
        <form asp-action="Index" asp-controller="UsersAdmin" method="get">
            <div class="row">
                <div class="col-11 p-0">
                    <input type="text" class="form-control border-primary w-100 my-0" placeholder="Пошук користувача" name="search">
                </div>
                <div class="col-1 p-0">
                    <button type="submit" class="btn btn-primary my-0"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="row">
                Логін
            </th>
            <th scope="row">
                Email

            </th>
            <th scope="col">Роль</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var user in Model)
        {
            bool isBlocked = blockedUserRepository.BlockedUsers.Where(b => b.UserId == user.Id).Any();
            i++;
            <tr>
                <th scope="row">@i</th>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @if ((await UserManager.GetRolesAsync(user)).Count == 1)
                    {
                        foreach (var role in (await UserManager.GetRolesAsync(user)).ToList().First())
                        {
                            @role.ToString()
                        }
                    }
                </td>

                <td class="d-flex justify-content-end">
                    @if ((await UserManager.IsInRoleAsync((await UserManager.GetUserAsync(User)), "shop admin")) && (await UserManager.IsInRoleAsync((await UserManager.GetUserAsync(User)), "user admin")))
                    {
                        if (!(await UserManager.IsInRoleAsync(user, "user admin")) || !(await UserManager.IsInRoleAsync(user, "shop admin")))
                        {
                            <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                                @if (isBlocked)
                                {
                                    <a class="btn btn-sm btn-success" asp-action="UnblockUser" asp-controller="UsersAdmin" asp-route-UserId="@user.Id">Розблокувати</a>
                                }
                                <a class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-id="@user.Id">Редагувати</a>
                                <a class="btn btn-sm btn-warning" asp-action="EditUserRoles" asp-route-userid="@user.Id">Права доступу</a>
                                <button type="submit" class="btn btn-sm btn-danger">Видалити</button>
                            </form>
                        }
                    }
                    else if (!(await UserManager.IsInRoleAsync(user, "user admin")))
                    {
                        <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                            <a class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-id="@user.Id">Редагувати</a>
                            <a class="btn btn-sm btn-warning" asp-action="EditUserRoles" asp-route-userid="@user.Id">Права доступу</a>
                            <button type="submit" class="btn btn-sm btn-danger">Видалити</button>
                            @if (isBlocked)
                            {
                                <a class="btn btn-sm btn-success" asp-action="UnblockUser" asp-controller="UsersAdmin" asp-route-UserId="@user.Id">Розблокувати</a>
                            }
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<page-link page-model="Model.UsersPageVM"
           page-action="Index"
           @*page-url-searchReq="@(Model.UsersFilterVM.SearchReq)"
           page-url-sortOrder="@(Model.UsersSortVM.Current)"*@>
</page-link>
